@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff6ff;
  --foreground: #020617;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #fbbf24;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  margin-bottom: 20px;
}

a {
  color: #ff4b2f;
  text-decoration: underline;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 20px;
  text-decoration: underline;
}

.wp-block-list {
  list-style-type: disc;
  margin-bottom: 20px;
}

.wp-block-image {
  margin: 30px auto;

  img {
    margin: 0 auto;
  }
}

.wp-block-pullquote {
  border-left: 5px solid #ff4b2f;
  margin: 30px 0 !important;
  @media (prefers-color-scheme: dark) {
    background: #000;
  }
  background: #f9f9f9;
}

.wp-block-embed {
  iframe {
    width: 95%;
    margin: 30px auto;
  }
}

.wp-block-list {
  padding: 20px;
}
