@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff6ff;
  --foreground: #020617;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #fbbf24;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace,Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  margin-bottom: 20px;
}


a {
  color: #ff4b2f;
  text-decoration: underline;
}

.wp-block-list {
  list-style-type: disc;
  margin-bottom: 20px;
}